<div class='job_form' id='job_form'>
  <%= form_for @job_card, url: { action: @action, controller: 'daphy/job_cards' }, :html => {:multipart => true} do |f| %>
    <%= f.label :title %>:<%= f.text_field :title %><br/>
    <%= f.label :point %>:<%= f.select :point, [[1, 1], [2, 2], [3, 3]] %><br/>
     
    <%= f.label :group %>:<%= f.select :group_id do %>
      <% @groups.each do |group| %>
        <%= content_tag(:option, group.name, value: group.id) %>
      <% end %>
    <% end %>
    <br/>
    <%= f.label :description %>:<%= f.text_area :description, :size => "80x20" %><br/>
    <%= f.submit %>
  <% end %> 
</div>
