<div id="<%=job_card.id %>" class="job">
  <div id="job_card_menu" class="job_card_category_<%=job_card.type %>">
    <%= link_to '詳細', daphy_job_card_path(job_card) %>&nbsp;&nbsp;|
    <%= link_to '編集', edit_daphy_job_card_path(job_card) %> &nbsp;&nbsp;|
    <%= link_to '削除', daphy_job_card_path(job_card), method: :delete, data: { confirm: 'Are you sure?' } %> &nbsp;&nbsp;|
  </div>
  <br/>
  <%= job_card.title %>
  <br/>
  <%= job_card.created_at %>
</div>

<script type='text/javascript'>
  $("#<%=job_card.id %>").draggable({
    snapMode: 'inner',
    containment: '#job_board',
    revert: 'true'
   })
</script>
