<%= flash[:notice] %>
<%= render 'form' %>
<hr/>
<div class='job_board'>
  <div class='job_list' id='todo_list'>
    TODO:<%= render @todos %>
  </div>
  <div class='job_list' id='doing_list'>
    DOING:<%= render @doings %>
  </div>
  <div class='job_list' id='done_list'>
    DONE:<%= render @dones %>
  </div>
</div>
<script  text/type='javascript'>
  $("#regist_link a").click(function() {
      alert('hoge');
        $("#job_form" ).show();
      });
</script>
