<div class="job_detail job_status_<%= @job_card.type %>">
  <br/>
  <%= image_tag(@job_card.user.image_url) %><br/>
  <%= @job_card.title %><br/>
  <hr/>
  <%= @job_card.created_at %><hr/><br/>
  <%= @job_card.description %><br/>
</div>

