<div id="<%= friend.id %>" class="friend">
  <div id="friend_menu">
    <%= link_to '詳細', admin_friend_path(friend) %>&nbsp;&nbsp;|
    <%= link_to '編集', edit_admin_friend_path(friend) %> &nbsp;&nbsp;|
    <%= link_to '削除', admin_friend_path(friend), method: :delete, data: { confirm: 'Are you sure?' } %> &nbsp;&nbsp;|
  </div>
  <br/>
  <%= friend.name %>
</div>

