<menu>
  <div class='left_div'>
    <%= link_to_unless_current 'マイページ', daphy_job_cards_path, id: 'list_link' %> &nbsp;&nbsp;|
    <%= link_to_unless_current '設定画面トップ', admin_top_index_path, id: 'list_link' %> &nbsp;&nbsp;|
    <%= link_to_unless_current '友達一覧', admin_friends_path, id: 'list_link' %> &nbsp;&nbsp;|
    <%= link_to_unless_current '友達申請', new_admin_friend_path %>&nbsp;&nbsp|
  </div>
  <div class='right_div'>
    <%= link_to_unless_current  image_tag(current_user.image_url, size: '40x40'), { action: 'index', controller: 'admin/top' } %>
    <%= current_user.nickname %>
    <%= link_to "ログアウト", logout_path  %> 
  </div>
</menu>
<br/><br/>
<hr/>
